body {
  overflow-x: hidden;
}

.contact-container {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 2rem 0 5rem 0;
  padding: 0 2rem 0 2rem;
  -webkit-box-shadow: -1px 0px 7px 0px #000000;
  box-shadow: -1px 0px 7px 0px #000000;
}

.contact-photo{
  background-image: url('../Images/contact-photo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 20rem;
}

.contact-container h1 {
  display: inline-block;
  background-color: var(--light-green);
  padding: 10px 20px;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 2.75rem 0 25px 0;
}

.contact-container h2 {
  margin-bottom: 35px;
}

.contact-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}

.contact-container ul li {
  margin: 15px 0;
  font-size: 1rem;
  display: block;
}

.contact-container ul li a{
  color: white;
}

.contact-container ul li:hover{
  transform: scale(1.05);
}

.image-main {
  width: 30px;
  margin-right: 15px;
}

.contact-img {
  width: 100%;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 1024px) {
  .contact-img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .contact-container {
    text-align: center;
    padding: 2.2rem 1rem 0 1rem;
  }

  .contact-container ul {
    margin-bottom: 2rem;
  }

  .contact-container h1 {
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    margin: 1.5rem 0 1.5rem 0;
    text-align: center;
  }

  .contact-container h2 {
    font-size: 1.5rem;
    padding: 0 2rem;
  }
}
