body{
  overflow-x: hidden;
}

.contact-container{
  background-color: rgba(255,255,255,0.2);
  margin: 2rem 0 5rem 0;
  padding: 35px 30px 0 30px;
  -webkit-box-shadow: -1px 0px 7px 0px #000000; 
  box-shadow: -1px 0px 7px 0px #000000;
}

.contact-container h1{
  display: inline-block;
  background-color: var(--light-green);
  padding: 10px 20px;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 15px 0 25px 0;
}

.form-group{
  background-image: url('../Images/Background.png');
  padding: 30px;
  margin: 10px 0 2rem 0;
  border-radius: 20px;
}

.form-control{
  border: none;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

.form-group label{
  color: rgba(255,255,255,0.9);  
  margin: 0;
}

.form-group input{
  background-color: rgba(255,255,255,0.2);
  margin: 0 0 10px 0;
  border-radius: 0;
  color: white;
}

.form-group input:active, .form-group input:focus{
  background-color: var(--light-orange);
  border-color: none;
  outline: none;
  color: var(--dark-bg-color);
}

textarea{
  width: 100%;
  height: 150px;
  background-color: rgba(255,255,255,0.2);
}

.contact-container button{
  width: 100%;
  margin-top: 15px;
  background-color: var(--light-green);
  border: none;
  color: white;
  padding: 10px 0;
}

.contact-container button:active{
  transform: scale(0.95)
}

.contact-container button:hover{
  background-color: #417f5d;
}

.contact-container h2{
  margin-bottom: 35px;
}

.contact-container ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-container ul li{
  margin: 15px 0;
  font-size: 1rem;
}

.contact-container img{
  width: 30px;
  margin-right: 15px;
}

/* HOVER EFFECT ICONS */

.figure {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.figure img.image-hover {
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
object-fit: contain;
opacity: 0;
transition: opacity .2s;
}
.figure:hover img.image-hover {
opacity: 1;
}