/* COMPLETE FORM ELEMENT */

.form-group {
  background-image: url("../Images/Background.png");
  padding: 0 0 4rem 0;
  margin: 2rem 0 1rem 0;
}

/* INPUT FIELDS */

.form-control {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 0 0.8rem 0;
  border-radius: 0;
  color: white;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

.form-group input:active,
.form-group input:focus {
  background-color: var(--light-orange);
  border-color: none;
  outline: none;
  color: var(--dark-bg-color);
}

/* INPUT LABELS */

.form-group label {
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
}

/* MESSAGE FIELD */

textarea {
  width: 100%;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
  box-sizing: border-box;
  border: none;
  padding: 6px 12px;
  color: white;
}

textarea:active,
textarea:focus {
  background-color: var(--light-orange);
  border-color: none;
  outline: none;
  color: var(--dark-bg-color);
}

/* SUBMIT BUTTON */

.submitbtn {
  width: 100%;
  margin-top: 15px;
  background-color: var(--light-green);
  border: none;
  color: white;
  padding: 10px 0;
}

.submitbtn:active {
  transform: scale(0.97);
}

.submitbtn:hover {
  background-color: #417f5d;
}
