#search-bar:focus{
    outline: none;
}

#search-bar{
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
    background-color: rgba(255,255,255,0.2);
    border-radius: 15px;
    width: 400px;
    margin-left: 80px;
    padding: 8px 20px;
}

#search-bar::placeholder{
    color: var(--dark-bg-color);
}

@media only screen and (max-width: 992px) {
    #search-bar{
        margin: 1rem auto;
        width: 250px;
        text-align: center;
    }
}